$color-blue-background: #6285af;
$color-white: #fff;

@import "input";
@import "wrappers/ui-drop-down-input-wrapper";
@import "wrappers/ui-drop-down-suggestions-wrapper";
@import "wrappers/ui-drop-down-selected-container";
@import "items/ui-drop-down-suggestion-item";
@import "items/ui-drop-down-selected-suggestions";

.ui-drop-down-hidden{
  display: none;
  padding: 0!important;
  height: 0!important;
  margin: 0!important;
  width: 0!important;
}

.ui-drop-down-input-hidden{
  padding: 0!important;
  height: 0!important;
  margin: 0!important;
  position: absolute;
}
.ui-drop-down-readonly-input{
  cursor: default;
}