.ui-drop-down-autocomplete-suggestions{
  position: absolute;
  height: 0;
  opacity: 0;
  border: 1px solid #ccc;
  overflow-y: hidden;
  transition: 0.1s linear all;
  background: #fff;
}

.ui-drop-down-autocomplete-suggestions.show{
  opacity: 1;
  height: 200px;
}

.ui-drop-down-item-container{
  border-bottom: 1px solid #cccccc;
  padding: 2px;
  cursor: pointer;
}
.highlight{
  color: red;
}