.ui-drop-down-autocomplete-suggestions{
  position: absolute;
  height: 200px;
  display: none;
  border: 1px solid #ccc;
  overflow-y: hidden;
}

.ui-drop-down-autocomplete-suggestions.show{
  display: block;
}
.ui-drop-down-item-container{
  border-bottom: 1px solid #cccccc;
  padding: 2px;
  cursor: pointer;
}